# List the dependencies
fastapi==0.115.5          # The web framework
uvicorn[standard]==0.34.0 # ASGI server to run FastAPI
python-dotenv==1.0.1      # Load environment variables from .env

SQLAlchemy==2.0.31        # ORM for database operations
psycopg2-binary==2.9.10   # PostgreSQL database adapter for Python
alembic==1.13.2           # Database migration tool

pydantic==2.10.2          # Data validation using Python type hints
pydantic[email]           # Adds email validation support

motor==3.4.0
pymongo==4.6.0

bcrypt==4.0.1                      # Password hashing library
passlib[bcrypt]==1.7.4             # Password hashing with bcrypt
python-jose[cryptography]==3.3.0   # JWT token generation and validation
python-multipart==0.0.18           # Required for OAuth2 password flow (form data)

elasticsearch==8.11.1 # Official Python client (elasticsearch-py) for Elasticsearch
aiohttp==3.13.2 # Required by elasticsearch async client

redis==5.0.1 # Redis client for Python
